page-about {
    h2{
        color: darkgray;
        font-size: 15px;
        font-style: italic;
    }

    p{
        text-align: justify;
        font-size: 13px;
        color: darkslateblue;
    }

    .komentar {
        margin-left: 10px;
        color: blueviolet;
    }
    .button{
        align-content: center;
    }
}
