// Untuk css toas di lamantoas
.cssToast{
  .toast-wrapper{
    background: #d0021b;
    text-align: center;
    left: 3;
    right: 3;
    bottom: 0;
    border-radius: 12;
    .toas-message{
      color: #dcb3b8;
    }
  }
}

// untuk spinner dots di laman aplikasihobi.ts
.cssSpinner{
  background: #7e7c7c;
  .loading-wrapper{

  }
  .loading-content{
    color: #dcb3b8;
  }
}
