page-laman-popover {
    .background-danger
    {
        background: #f53d3d;
        color : #fff;
    }
    .background-primary{
        background: #488aff;
        color : #fff;
    }
    .background-secondary{
        background: #32db64;
        color : #fff;
    }
    .background-light{
        background: #f4f4f4;
    }
}
